body {
    box-sizing: border-box;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.main {
    flex: 1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: ivory;
    flex: 1;
}