body {
    box-sizing: border-box;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.main {
    display: flex;
    justify-content: stretch;    
    align-items: stretch;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: ivory;
    flex: 1;
    padding: 20px 0px;
}

.container {
    align-self: center;
    margin: 20px 0px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 150px;
    height: 150px;
    background-color: none;
}

.cellPainted {
    background-color: rgb(98, 98, 98);
}

.controls {
    display: flex;
    justify-content: center;
}

button#clear,
button#gridSize {
    margin: 20px 0px;
    width: 100px;
    height: 40px;
    font-weight: bold;
}